@using PODBProject.Models
@model LoginViewModel
@{
    ViewBag.Title = "Login";
}
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="container">
                    <div class="d-flex justify-content-center">
                        <div class="jumbotron col-lg-5" style="margin-top: 70px">
                           <center><h2>@ViewBag.Title</h2></center>
                            <form>
                                @Html.ValidationSummary("", new { @class = "text-danger" })
                                <div class="form-group">
                                    <label for="username">Email address</label>
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control col-lg-12" })
                                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control col-lg-12" })
                                </div>
                                <center><button type="submit" class="btn btn-primary" style="margin-bottom:20px">Submit</button></center>
                                <p>
                                    @Html.ActionLink("Register as a new user", "Register")
                                </p>
                                <p>
                                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
                    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}