@model PODBProject.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    

    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="jumbotron col-md-7">
                <h4>Create a new account.</h4>
                <hr />
                <div class="form-group">
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control col-sm-12" })
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-6 control-label" })
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-6 ">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-12 control-label" })
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>
                <p><small>Password Requirements : Atleast 6 Characters , Atleast One (1) Number , Atleast One (1) Special Character , Atleast One (1) Capital Letter </small></p>
                <center><button type="submit" class="btn btn-primary" style="margin-bottom:15px">Submit</button></center>
                <center>@Html.ActionLink("Already have an Account? Click Here", "Login")</center>
            </div>
        </div>
    </div>   
            }

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
