@model IEnumerable<PODBProject.PetOwnerProfile>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.subdivision)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.barangay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contactNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.registerDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.updateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image.imageType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.street)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.subdivision)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.barangay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contactNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.registerDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.updateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUser.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Image.imageType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.profileId }) |
            @Html.ActionLink("Details", "Details", new { id=item.profileId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.profileId })
        </td>
    </tr>
}

</table>
