<!DOCTYPE html>
<html>
<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css" />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>City Veterinary Office</title>
</head>

<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

    <div class="navbar navbar-expand-lg navbar-dark bg-primary navbar-fixed-top navbar-inverse" style="margin-bottom:30px">
        <a class="navbar-brand" href="@Url.Action("Index", "Home")">City Veterinary Office</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="@Url.Action("Index", "Home")">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="@Url.Action("About", "Home")">About</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="@Url.Action("Contact", "Home")">Contact</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="@Url.Action("Index", "PetProfile")">Pet Profile</a>
                </li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - City Veterinary Office</p>
        </footer>
    </div>

</body>
</html>
