@model PODBProject.Announcement

@{
    ViewBag.Title = "Edit";
    Layout = Layout = "~/Views/Shared/_sideBarLayout.cshtml";
}

@using (Html.BeginForm("Edit", "Announcement", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="d-flex justify-content-center">
        <div class="jumbotron">
            <div class="form-horizontal">
                <h2>Create Announcement</h2>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.announceTitle, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.announceTitle, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.announceTitle, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.announceText, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-lg-12">
                        @Html.TextAreaFor(model => model.announceText, new { @style = "height: 220px; width: 620px;" })
                        @Html.ValidationMessageFor(model => model.announceText, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <input type="file" name="file" required>
                    </div>
                </div>

                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.announceDate)

                <center><input type="submit" value="Create" class="btn btn-primary" /></center>

                <div>
                    @Html.ActionLink("Back to List", "Index")
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}