@model IEnumerable<PODBProject.Service>

@{
    ViewBag.Title = "Services";
}

<h2>Services</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>



<div class="p-3 bg-light">
    <table class="table" id="Data">
        <thead>
            <tr>
                <th>
                    Service Type
                </th>
                <th>
                    Pet Name
                </th>
                <th>
                    User Name
                </th>
                <th>
                    Service Date
                </th>
                <th>
                    Pet ID
                </th>
            </tr>

        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.serviceType
                    </td>
                    <td>
                        @item.PetProfile.petName
                    </td>
                    <td>
                        @item.AspNetUser.UserName
                    </td>
                    <td>
                        @item.serivceDate.ToString()
                    </td>
                    <td>
                        @item.PetProfile.Id
                </tr>

            }
        </tbody>
    </table>

</div>

<script>
    $(document).ready(function () {
        $('#Data').DataTable();
    });
</script>